* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Mier bold";
}
a {
  color: black;
}

#screen {
  width: 100%;
  height: 100vh;
}

/* navbar */

header {
  width: 100%;
  border-bottom: 1px solid rgb(196, 196, 196);
  height: 10.2%;
  /* border: 1px solid red; */
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 9999;
}

#nav-container {
  width: 90%;
  /* border: 1px solid red; */
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#left-nav {
  width: 47%;
  display: flex;
  /* border: 1px solid blue; */
  /* align-items: center; */
}

#logo {
  width: 33%;
  height: 100%;
  /* background-color: yellow; */
}

#logo > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#search {
  width: 64%;
  /* border: 1px solid orange; */
  position: relative;
  height: 100%;
}

#search > input {
  width: 100%;
  height: 60%;
  padding-left: 10%;
  margin-top: 4%;
  font-size: 1.02em;
  border: none;
  border-radius: 5px;
  border: 0.5px solid rgb(83, 83, 83);
}
#search > input:focus {
  outline: 0.5px solid rgb(201, 198, 198);
}

#search > i {
  color: rgb(179, 176, 176);
  position: absolute;
  top: 55%;
  left: 2.5%;
}

#right-nav {
  width: 45%;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  /* margin-top: 1%; */
  letter-spacing: 1px;
}

#mobile {
  width: 32%;
  /* border: 1px solid red; */
  height: 100%;
  border-right: 0.5px solid rgb(235, 234, 234);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1% 0 0 2%;
}
#supplier {
  width: 28%;
  /* border: 1px solid red; */
  height: 100%;
  border-right: 0.5px solid rgb(223, 221, 221);
  font-size: 1.05em;
  padding: 4.5% 0 0 0;
}
#profile-container {
  width: 30%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  /* padding: 1% 0 0 2%; */
}
#profile-container > #profile > a > p {
  padding-top: 10%;
}
#profile-container > #cart > a > p {
  padding-top: 10%;
}

/* second navbar */
nav {
  width: 100%;
  border-bottom: 1px solid rgb(172, 171, 171);
  height: 8%;
  position: fixed;
  top: 10.2%;
  background-color: rgb(255, 255, 255);
  z-index: 9999;
}

#sec-nav-container {
  width: 90%;
  height: 100%;
  margin: auto;
  /* border: 1px solid orange; */
  display: flex;
  justify-content: space-around;
  padding-top: 1.2%;
}

#sec-nav-container > p {
  font-size: 1.05em;
  letter-spacing: 0.5px;
}


/* main body */

#main-body {
  padding-top: 8%;
}

#main-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  /* border: 1px solid orange; */
  /* margin-top: 3%; */
  /* height: 1500px; */
}

#main-left-heading {
  padding: 2% 0 2% 6%;
}
#prod-heading {
  font-size: 1.5em;
  padding-bottom: 1%;
}
#main-left-container {
  width: 24%;
  /* border: 1px solid grey; */
}

#select-option {
  width: 100%;
}
#select-option > select {
  width: 100%;
  height: 50px;
  padding: 0 5%;
  font-size: 1.2em;
  border: 1px solid rgb(221, 220, 220);
}

#second-left-container {
  border: 1px solid rgb(218, 217, 217);
  margin-top: 1%;
}
#filter-heading {
  border-bottom: 1px solid rgb(219, 219, 219);
  padding: 3% 0;
  padding: 5%;
}
#filter-heading > p {
  color: grey;
  font-size: 0.9em;
}

#categories-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5%;
  align-items: center;
}

#categories-input {
  width: 90%;
  margin: auto;
  height: 40px;
  position: relative;
}
#categories-input > input {
  width: 100%;
  height: 100%;
  padding-left: 15%;
  border: 1px solid rgb(210, 209, 209);
}
#categories-input > i {
  position: absolute;
  top: 50%;
  left: 5%;
}

.checkbox {
  display: flex;
  align-items: center;
  padding: 5%;
}
.checkbox > p {
  font-size: 1.2em;
  letter-spacing: 1px;
  padding-left: 3%;
  color: grey;
}

#see-more {
  color: purple;
  padding-left: 12%;
  font-size: 1.1em;
  border-bottom: 1px solid rgb(225, 225, 225);
  padding-bottom: 5%;
}

#third-left-container {
  /* border: 1px solid orange; */
  border-bottom: 1px solid rgb(212, 211, 211);
}

#gemder-heading {
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

#genders {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5%;
}
#genders > p {
  width: 30%;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  margin: 2% 1%;
  padding-top: 2%;
  border: 0.5px solid rgb(228, 225, 225);
}

#fourth-left-container {
  margin-top: 2%;
}

.left-lists {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  border-bottom: 1px solid rgb(224, 222, 222);
  margin: 7% 0;
}
#main-right-container {
  width: 74%;
  /* border: 1px solid brown; */
}

#main-right-inside {
  width: 100%;
  /* border: 1px solid rgb(223, 222, 222); */
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px 0;
}
.main-right-images {
  width: 22%;
  height: 400px;
  /* background-color: yellow; */
  border: 1px solid rgb(209, 208, 208);
  border-radius: 5px;
}
.single-image {
  width: 85%;
  height: 60%;
  /* border: 1px solid red; */
  margin: auto;
}
.single-image > img {
  width: 100%;
  height: 100%;
  text-align: center;
  /* border: 1px solid blue; */
}

.main-right-images h4 {
  /* margin: 5%; */
  font-size: 1.5em;
  padding-left: 3%;
  /* padding-top: 2%; */
}
.main-right-images small {
  /* margin: 5%; */
  padding-left: 10%;
  /* margin-top: 5%; */
}

.image-details {
  line-height: 30px;
}

.image-detail-1 {
  letter-spacing: 0.2px;
  font-size: 1.05em;
  padding: 2%;
  color: grey;
}

.image-detail-2 {
  font-size: 0.6em;
  font-weight: lighter;
  color: grey;
}

.star {
  margin-left: 2%;
  background-color: #23bb75;
  width: 25%;
  border-radius: 15px;
  text-align: center;
  color: white;
}

.word-line {
  text-decoration: line-through;
  padding-left: 2%;
  color: grey;
}

.ratings {
  display: flex;
  padding-top: 5%;
}

.reviews {
  padding-left: 2%;
}
